body{ 
    background-color:lightsalmon;
    width: 100%;
}
h1{
    color: navy;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{ 
    background-color:lightsalmon;
    width: 100%;
    text-align: center;
}