body{ 
    background-color:lightsalmon;
    width: 100%;
}

footer {
    background-color:lightsalmon;
    width: 100%;
    text-align: center;
}
h1{
    color: navy;
}
.h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer{
    font-family:cursive;
}
header nav ul li{
    float: left;
    text-align: center;
    margin: auto;
    padding: 30px 170px;
    display: block;
    text-decoration: none;
}
header nav{
overflow:hidden;
}
video {
    float:none;
    text-align: center;
    margin: auto;
    padding: 160px;
    display: block;
    text-decoration: none;
}
header nav{
overflow:hidden;
}
audio{
    text-align: center;
    margin: auto;
    display: block;
}
header nav{
overflow:hidden;
}
img{
    text-align: center;
    margin: auto;
    display: block;
}
header nav{
overflow:hidden;
}

